<div class="container" [@imageRace]>
  <h6 class="race">Run</h6>
  <div class="row">
    <div class="col s6 l3"><img class="race responsive-img run" src="assets/img1.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img run" src="assets/img2.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img run" src="assets/img3.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img run" src="assets/img4.jpg"/></div>
  </div>
  <h6 class="race">Longchamp</h6>
  <div class="row">
    <div class="col s6 l3"><img class="race responsive-img" src="assets/lc1.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/lc2.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/lc3.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/lc4.jpg"/></div>
  </div>
  <h6 class="race">Bike</h6>
  <div class="row">
    <div class="col s6 l3"><img class="race responsive-img" src="assets/v1.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/v2.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/v3.jpg"/></div>
    <div class="col s6 l3"><img class="race responsive-img" src="assets/v4.jpg"/></div>
  </div>
</div>